* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand {
    font-size: 2rem;
}

#carosello {
    height: 35vh;
    overflow: hidden;
}